<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Texac.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Texac.Properties.Settings.connStr2" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=z:\Tceh\data.mdb;User ID=Воловод;Jet OLEDB:System database=z:\Tceh\Texac\system.mdw" />
        <add name="Texac.Properties.Settings.connStr" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\TEXAC\data.mdb;User ID=Воловод;Jet OLEDB:System database=c:\texac\system.mdw"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <Texac.Properties.Settings>
            <setting name="TrebovanieLastOrderId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TrebovanieLastNumber" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TrebovanieLastType" serializeAs="String">
                <value>24/5</value>
            </setting>
            <setting name="pgConStr" serializeAs="String">
                <value>Server=172.16.2.114;Port=5432;User Id=volovod;Password=123;Database=texac_dev;</value>
            </setting>
            <setting name="api_path" serializeAs="String">
                <value>http://172.16.2.114:8080/api</value>
            </setting>
            <setting name="StartOrderNumber" serializeAs="String">
                <value>0</value>
            </setting>
        </Texac.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
